{% load static %}

<!--
  Ícone do navegador: marca da OAB na forma simplificada.
  Os ícones originais da plataforma continuam no repositório, apenas não são
  mais referenciados por este template.
-->
<link rel="icon" type="image/svg+xml" href="{% static 'img/oab-ma.svg' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/oab-32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/oab-16.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/oab-180.png' %}">
<link rel="manifest" href="{% static 'img/favicon/oab-manifest.json' %}">
<meta name="theme-color" content="#004B87">
