{% load spa_helper %}
{% load inventree_extras %}
{% spa_bundle as bundle %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% inventree_instance_name %}</title>
  {% include "favicon.html" %}
</head>

<body>
  <div id="root">
    <div id="update-warning" style="display: none;">
      Não foi possível carregar o sistema. Recarregue a página; se o problema
      continuar, procure o setor de tecnologia da Seccional.
    </div>
    <div id="no-javascript-warning" style="display: none;">
      <hr>
      Este sistema precisa de JavaScript para funcionar. Ative o JavaScript nas
      configurações do navegador.
    </div>
    <noscript>
      <!-- fallback if javascript is blocked -->
      <style>
        #update-warning { display: block !important; }
        #no-javascript-warning { display: block !important; }
      </style>
    </noscript>
    <script>
      setTimeout(() => {
        let warningElement = document.getElementById('update-warning');

        if (warningElement) {
          warningElement.style.display = 'block';
        }
      }, 1000);
    </script>
  </div>

  <div id="spa_settings">{% spa_settings %}</div>
  {% if bundle == "NOT_FOUND" %}
  <div id="spa_bundle_error">
    <div>
      <h1>Interface não encontrada</h1>
      <p>Os arquivos da interface não foram encontrados no servidor. Refaça o
        build do frontend e execute <code>collectstatic</code>.<br/>
        <span>Método de instalação: <code>{% inventree_installer %}</code></span></p>
  </div>
  {% else %}
  <div id="spa_bundle">{{ bundle }}</div>
  {% endif %}
</body>

</html>
